@model Testing.Domain.Entitys.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Сomplexity.Complication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сomplexity.Complication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeToGo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeToGo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountQuestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountQuestions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
