@model Testing.Domain.Entitys.Question

@{
    ViewBag.Title = "Тест: " + ViewBag.Subject;
}

<h2>Тест: @ViewBag.Subject</h2>
<h4>Время на прохождение теста: @ViewBag.Time (мин)</h4>
<div id="time-block">
    <h4>Оставшееся время:&nbsp;</h4>
    <h4 id="timerLabel">@ViewBag.Time</h4>
    <h4>&nbsp;(мин)</h4>
</div>

@using (Ajax.BeginForm("AddUserAnswer", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div id="results">
        @Html.Partial("_QuestionPartial")
    </div>
}

@Scripts.Render("~/scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

<script type="text/javascript">
    function countdown() {
        seconds = document.getElementById("timerLabel").innerHTML;
        if (seconds > 0) {
            document.getElementById("timerLabel").innerHTML = seconds - 1;
            setTimeout("countdown()", 1000 * 60);
        } else {
            alert("Время вышло!\nРезультаты сохранены.\nВы будете перенаправлены на страницу с тестами.");
            window.location.replace("/User/Tests");
        }
    }
    setTimeout("countdown()", 1000 * 60);
</script>

<style>
    #time-block, #questions {
        display: flex;
    }
</style>