@model IEnumerable<Testing.Domain.Entitys.ApplicationUser>

@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.Label("User name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.Label("Email confirmed")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.ActionLink(
                item.isBlock ? "Разблокировать" : "Заблокировать",
                "BlockUnBlock",
                new { id = item.Id },
                item.isBlock 
                ? new { @class = "btn btn-success" } 
                : new { @class = "btn btn-danger" })

            @Html.ActionLink(
                "Удалить",
                "Delete",
                new { id = item.Id },
                new { onclick = "return confirm('Вы уверены, что хотите удалить?')" })
        </td>
    </tr>
}
</table>
